### Feature Engineering and Model Building

In [1]:
df = pd.read_csv("delivery.csv")

In [2]:
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [3]:
df.shape

(45584, 20)

In [4]:
df.columns

Index(['ID', 'Delivery_person_ID', 'Delivery_person_Age',
       'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Order_Date', 'Time_Orderd',
       'Time_Order_picked', 'Weather_conditions', 'Road_traffic_density',
       'Vehicle_condition', 'Type_of_order', 'Type_of_vehicle',
       'multiple_deliveries', 'Festival', 'City', 'Time_taken (min)'],
      dtype='object')

In [5]:
df.head().T

,0,1,2,3,4
ID,0xcdcd,0xd987,0x2784,0xc8b6,0xdb64
Delivery_person_ID,DEHRES17DEL01,KOCRES16DEL01,PUNERES13DEL03,LUDHRES15DEL02,KNPRES14DEL02
Delivery_person_Age,36.0,21.0,23.0,34.0,24.0
Delivery_person_Ratings,4.2,4.7,4.7,4.3,4.7
Restaurant_latitude,30.327968,10.003064,18.56245,30.899584,26.463504
Restaurant_longitude,78.046106,76.307589,73.916619,75.809346,80.372929
Delivery_location_latitude,30.397968,10.043064,18.65245,30.919584,26.593504
Delivery_location_longitude,78.116106,76.347589,74.006619,75.829346,80.502929
Order_Date,12-02-2022,13-02-2022,04-03-2022,13-02-2022,14-02-2022
Time_Orderd,21:55,14:55,17:30,09:20,19:50
Time_Order_picked,22:10,15:05,17:40,09:30,20:05
Weather_conditions,Fog,Stormy,Sandstorms,Sandstorms,Fog
Road_traffic_density,Jam,High,Medium,Low,Jam
Vehicle_condition,2,1,1,0,1
Type_of_order,Snack,Meal,Drinks,Buffet,Snack
Type_of_vehicle,motorcycle,motorcycle,scooter,motorcycle,scooter
multiple_deliveries,3.0,1.0,1.0,0.0,1.0
Festival,No,No,No,No,No
City,Metropolitian,Metropolitian,Metropolitian,Metropolitian,Metropolitian
Time_taken (min),46,23,21,20,41

### Dropped the labels with 6 star rating which is an outlier in the datset

In [6]:
drop_labels = df[df['Delivery_person_Ratings']>5].index.values

In [7]:
df.drop(index=drop_labels,axis=0,inplace=True)

### Dropped the labels with less than 2 star rating which is an outlier in the datset

In [8]:
drop_labels1 = df[df['Delivery_person_Ratings']<2].index.values

In [9]:
df.drop(index=drop_labels1,axis=0,inplace=True)

In [10]:
df = df.reset_index(drop=True)

In [11]:
df.to_csv("dataset.csv",index=False)

In [12]:
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45488,0x7c09,JAPRES04DEL01,30.0,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35,11:45,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32
45489,0xd641,AGRRES16DEL01,21.0,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55,20:10,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36
45490,0x4f8d,CHENRES08DEL03,30.0,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50,24:05:00,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16
45491,0x5eee,COIMBRES11DEL01,20.0,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35,13:40,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26
45492,0x5fb2,RANCHIRES09DEL02,23.0,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10,17:15,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36

In [13]:
def absolute(i):
    return abs(i)

In [14]:
df['Restaurant_latitude']

0        30.327968
1        10.003064
2        18.562450
3        30.899584
4        26.463504
           ...
45488    26.902328
45489     0.000000
45490    13.022394
45491    11.001753
45492    23.351058
Name: Restaurant_latitude, Length: 45493, dtype: float64

In [15]:
import numpy as np
!pip install geopy
from geopy.distance import geodesic

Requirement already satisfied: geopy in c:\users\hp\anaconda3\lib\site-packages (2.3.0)
Requirement already satisfied: geographiclib<3,>=1.52 in c:\users\hp\anaconda3\lib\site-packages (from geopy) (2.0)

In [16]:
def distcalculate(df):
    for i in range(len(df)):
        df.loc[i, 'distance'] = geodesic((df.loc[i, 'Restaurant_latitude'], 
                                            df.loc[i, 'Restaurant_longitude']),
                                            (df.loc[i, 'Delivery_location_latitude'], 
                                            df.loc[i, 'Delivery_location_longitude'])).km

In [17]:
def time_format(i):
        if len(i)>=5:
            if i[2]!= ":":
                return np.nan
            else:
                return i
        else:
            return np.nan

def preprocess(df):
                                       
    distcalculate(df)                                  
    df = df.drop(labels=['Restaurant_latitude','Restaurant_longitude','Delivery_location_latitude','Delivery_location_longitude'],axis=1)
    
    
    
    
    df['Time_Orderd']=df['Time_Orderd'].astype(str).apply(time_format)
    df['Time_Order_picked']=df['Time_Order_picked'].astype(str).apply(time_format)
    
    
    
    df['Ordered_Hour']=df['Time_Orderd'].str.split(':').str[0]
    df['Ordered_Min']=df['Time_Orderd'].str.split(':').str[1]
    
    df['Picked_Hour']=df['Time_Order_picked'].str.split(':').str[0]
    df['Picked_Min']=df['Time_Order_picked'].str.split(':').str[1]
    
    df.drop(labels=['Time_Orderd','Time_Order_picked'],inplace=True,axis=1)
    df.drop(labels=['ID','Delivery_person_ID'],inplace=True,axis=1)
    
    
    df['time_diff']=(df['Picked_Hour'].astype(float)*60+df['Picked_Min'].astype(float))-(df['Ordered_Hour'].astype(float)*60+df['Ordered_Min'].astype(float))
    
    
    df.drop(labels=['Ordered_Hour','Ordered_Min','Picked_Hour','Picked_Min'],inplace=True,axis=1)
    
    
    df.drop('Order_Date',inplace=True,axis=1)
    
    return df

In [18]:
df = preprocess(df)

In [57]:
df

,Delivery_person_Age,Delivery_person_Ratings,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),distance,time_diff
0,36.0,4.2,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,10.271464,15.0
1,21.0,4.7,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,6.229376,10.0
2,23.0,4.7,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,13.764306,10.0
3,34.0,4.3,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,2.927795,10.0
4,24.0,4.7,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,19.373484,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45488,30.0,4.8,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32,1.488112,10.0
45489,21.0,4.6,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36,10.983242,15.0
45490,30.0,4.9,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16,4.648024,15.0
45491,20.0,4.7,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26,6.219668,5.0
45492,23.0,4.9,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36,12.057294,5.0

In [34]:
cat_columns = list(df.select_dtypes(include = 'object'))

In [35]:
cat_columns

['Weather_conditions',
 'Road_traffic_density',
 'Type_of_order',
 'Type_of_vehicle',
 'Festival',
 'City']

In [36]:
for i in cat_columns:
    print(df[i].unique())
    print('========================================')

['Fog' 'Stormy' 'Sandstorms' 'Windy' 'Cloudy' 'Sunny' nan]
========================================
['Jam' 'High' 'Medium' 'Low' nan]
========================================
['Snack' 'Meal' 'Drinks' 'Buffet']
========================================
['motorcycle' 'scooter' 'electric_scooter' 'bicycle']
========================================
['No' 'Yes' nan]
========================================
['Metropolitian' 'Urban' 'Semi-Urban' nan]
========================================

In [37]:
for i in cat_columns:
    print(df.groupby(by=i)['Time_taken (min)'].mean().sort_values())

Weather_conditions
Sunny         21.856770
Stormy        25.868803
Sandstorms    25.875500
Windy         26.118836
Fog           28.914674
Cloudy        28.917164
Name: Time_taken (min), dtype: float64
Road_traffic_density
Low       21.266671
Medium    26.699680
High      27.240109
Jam       31.176038
Name: Time_taken (min), dtype: float64
Type_of_order
Drinks    26.194634
Buffet    26.279179
Snack     26.286037
Meal      26.426485
Name: Time_taken (min), dtype: float64
Type_of_vehicle
electric_scooter    24.476707
scooter             24.477265
bicycle             26.716981
motorcycle          27.606071
Name: Time_taken (min), dtype: float64
Festival
No     25.987447
Yes    45.516779
Name: Time_taken (min), dtype: float64
City
Urban            22.985853
Metropolitian    27.316639
Semi-Urban       49.731707
Name: Time_taken (min), dtype: float64

In [38]:
for i in cat_columns:
    
    print(f"{i} = {df.groupby(by=i)['Time_taken (min)'].mean().sort_values().index.values}")

Weather_conditions = ['Sunny' 'Stormy' 'Sandstorms' 'Windy' 'Fog' 'Cloudy']
Road_traffic_density = ['Low' 'Medium' 'High' 'Jam']
Type_of_order = ['Drinks' 'Buffet' 'Snack' 'Meal']
Type_of_vehicle = ['electric_scooter' 'scooter' 'bicycle' 'motorcycle']
Festival = ['No' 'Yes']
City = ['Urban' 'Metropolitian' 'Semi-Urban']

In [39]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),distance,time_diff
0,36.0,4.2,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,10.271464,15.0
1,21.0,4.7,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,6.229376,10.0
2,23.0,4.7,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,13.764306,10.0
3,34.0,4.3,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,2.927795,10.0
4,24.0,4.7,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,19.373484,15.0

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45493 entries, 0 to 45492
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Delivery_person_Age      43639 non-null  float64
 1   Delivery_person_Ratings  43585 non-null  float64
 2   Weather_conditions       44968 non-null  object
 3   Road_traffic_density     44983 non-null  object
 4   Vehicle_condition        45493 non-null  int64
 5   Type_of_order            45493 non-null  object
 6   Type_of_vehicle          45493 non-null  object
 7   multiple_deliveries      44500 non-null  float64
 8   Festival                 45265 non-null  object
 9   City                     44295 non-null  object
 10  Time_taken (min)         45493 non-null  int64
 11  distance                 45493 non-null  float64
 12  time_diff                35818 non-null  float64
dtypes: float64(5), int64(2), object(6)
memory usage: 4.5+ MB

In [41]:
categorical_columns = ['Weather_conditions','Road_traffic_density','Type_of_order','Type_of_vehicle','Festival','City']

In [42]:
numerical_columns = ['Delivery_person_Age','Delivery_person_Ratings','Vehicle_condition','multiple_deliveries','distance','time_diff']

In [43]:
Weather_order = ['Sunny','Stormy','Sandstorms','Windy','Fog','Cloudy']
Road_traffic_order = ['Low','Medium','High','Jam']
order_type = ['Drinks','Buffet','Snack','Meal']
vehicle_type = ['electric_scooter','scooter','bicycle','motorcycle']
Festival_map = ['No','Yes']
City_map = ['Urban','Metropolitian','Semi-Urban']

In [44]:
from sklearn.impute import SimpleImputer ##Handling Missing Values
from sklearn.preprocessing import StandardScaler ##Handling Feature Scaling
from sklearn.preprocessing import OrdinalEncoder ##Handling categorical data doing Ordinal Encoding
from sklearn.pipeline import Pipeline ## To create a pipeline so things happen in sequence
from sklearn.compose import ColumnTransformer ## To combine num and cat pipelines
from sklearn.model_selection import train_test_split

In [45]:
X= df.drop('Time_taken (min)',axis=1)
y = df['Time_taken (min)']

In [46]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.30,random_state=42)

In [47]:
num_pipeline=Pipeline(
    steps=[
    ('imputer',SimpleImputer(strategy='median')),
    ('scaler',StandardScaler())
    ]
)

##Categorical Pipeline

cat_pipeline=Pipeline(
    steps=[
    ('imputer',SimpleImputer(strategy='most_frequent')),
    ('ordinalencoder',OrdinalEncoder(categories=[Weather_order,Road_traffic_order,order_type,vehicle_type,Festival_map,City_map])),
    ('scaler',StandardScaler())
    ]
)

preprocessor=ColumnTransformer( [
    ('num_pipeline',num_pipeline,numerical_columns),
    ('cat_pipeline',cat_pipeline,categorical_columns)
])

In [48]:
X_train = preprocessor.fit_transform(X_train)

In [49]:
X_test = preprocessor.transform(X_test)

In [50]:
from sklearn.linear_model import LinearRegression ,Lasso,Ridge,ElasticNet
from sklearn.metrics import r2_score, mean_absolute_error,mean_squared_error
from sklearn.tree import DecisionTreeRegressor

In [51]:
lr=LinearRegression()

In [52]:
lr.fit(X_train,y_train)

LinearRegression()

In [53]:
y_pred = lr.predict(X_test)

In [54]:
y_pred

array([24.30579181, 42.56127582, 36.42936802, ..., 25.84074607,
       26.77766698, 23.32799663])

In [55]:
r2_score(y_test,y_pred)

0.5291439470091819

In [56]:
df.to_csv('clean.csv',index=False)